html {
  height: 100%;
  background: black;
}

body {
  height: inherit;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  z-index: -1;
}

.add-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: purple;
  font-size: 20px;
  border: 1px solid green;
  z-index: 1;
}

@media (orientation: landscape) {
  img {
    height: 100%;
    object-fit: cover;
  }
}
